.venv/
node_modules/
__pycache__/
*.pyc
uploads/*
!uploads/.gitkeep

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
playwright.yml

TestFiles/
*.docx
*.pdf
*.pptx
*.potx
*.odp
